@import '../generic/Colors.scss';

header {
    background-color: $color-white;
    justify-content: flex-end;
    display: flex;
    padding: 10px 10px 0 0;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
}